:root{
    --text-white: white;
    --text-black: black;

    --background-color: white;
    --foreground-color: whitesmoke;
}

body{
    color: var(--text-black);
    margin: 0;
    background-color: var(--foreground-color);
}

.content {
    max-width: 1000px;
    margin: auto;
}

.about {
    display: inline-block;
}

.img-portrait {
    float: left;
    width: 20%;
    min-width: 300px;
    max-width: 100vw;
    padding-right: 1em;
    padding-bottom: 1em;
}